<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notice</title>
</head>
<body>
    <h1>Notice</h1>
    {{ range $f := . }}
        <p>{{ $f }}</p>
    {{ end }}
    <a href="/">Home</a>
</body>
<script>
    window.setTimeout(function(){
        window.location.replace("/");
    }, 3000);
</script>
</html>