<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>REGISTER SUCCESSFUL</h1>
        <div>Redirect to login page</div>
    </body>
    <script>
    window.setTimeout(function(){
        window.location.replace("/");
    }, 3000);
</script>
</html>